<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <%if(!userid){ %>
    <h1>TEST page 입니다.</h1>
    <p>signup TEST</p>
    <p><a href="/test/signup">회원가입</a></p>
    <br>
    <br>

    <p>login TEST</p>
    <p><a href="/test/login">로그인?</a></p>
    <br>
    <br>
    <%}%>
    <p>info TEST</p>
    <p><a href="/api/users/getData">회원정보</a></p>
    <br>
    <br>

    <p>select TEST</p>
    <p><a href="/api/todo/allselect">all data</a></p>
    <br>
    <br>

    <p>select TEST2</p>
    <p><a href="/api/todo/getList">all data</a></p>
    <br>
    <br>

    <p>insert TEST</p>
    <form method="post" action="/api/todo/insert">
        <p>
          <label for="content">contents:</label>
          <input type="text" name="content" id="content">
        </p>
        <p>
          <button type="submit">insert</button>
        </p>
    </form>
    <br>
    <br>

    <p>delete TEST</p>
    <form method="post" action="/api/todo/delete">
        <p>
          <label for="num">num:</label>
          <input type="number" name="num" id="num">
        </p>
        <p>
          <button type="submit">delete</button>
        </p>
    </form>
    <br>
    <br>

    <p>update TEST</p>
    <form method="post" action="/api/todo/update">
        <p>
            <label for="num">num:</label>
            <input type="number" name="num" id="num">
        </p>
        <p>
            <label for="content">contents:</label>
            <input type="text" name="content" id="content">
        </p>
        <p>
            <button type="submit">update</button>
        </p>
    </form>
</body>
</html>