<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="testMapper">
    <select id="allselect">
        SELECT * FROM todo order by num asc
    </select>

    <select id="select">
        SELECT * FROM todo WHERE num = #{num}
    </select>

    <insert id="insert">
        insert into todo (num, title, contents, regdate) values (nextval('todo_seq'), #{title}, #{contents}, now())
    </insert>

    <delete id="delete">
        delete from todo where num = #{num}
    </delete>

    <update id="update">
        update todo set title = #{title}, contents = #{contents} where num = #{num}
    </update>
</mapper>