<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="testMapper">
    <select id="allselect">
        SELECT * FROM todo
    </select>

    <select id="getList">
        SELECT * FROM todo WHERE userid = #{userid}
    </select>

    <insert id="insert">
        insert into todo (userid, text, createat) values (#{userid}, #{text}, now())
    </insert>

    <delete id="delete">
        delete from todo where id = #{id}
    </delete>

    <update id="update">
        update todo set text = #{text} where id = #{id}
    </update>

    <update id="done">
        update todo set done = true, doneat = now() where id = #{id}
    </update>
</mapper>